# начало docker-compose и мы объявлям свои сервисы, которые нужно запустить
services:
  # контейнер с БД
  db:
    image: postgres:17 # какой образ использовать
    restart: always # что делать если контейнер упадет
    environment:
      # это переменные окружения
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=appdb
    ports:
      # внешний / внутренний порты
      - "5435:5432"
    volumes:
      # где хранить данные с БД, если контейнер вырубится
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=appdb

volumes:
  pgdata:
    # чтобы данные не пропадали при падении/выключении/перезагрузке контейнера

    # docker compose up (in the terminal)
