# начало docker-compose и мы объявлям свои сервисы, которые нужно запустить
services:
  # контейнер с БД
  db:
    image: postgres:17 # какой образ использовать
    container_name: postgres_db
    restart: always # что делать если контейнер упадет
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=my_app_db
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  auth:
    build: ./auth
    container_name: auth_service
    env_file: ./auth/.env
    ports:
      - "8082:8082"
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=my_app_db

  registration:
    build: ./registration
    container_name: registration_service
    env_file: ./registration/.env
    ports:
      - "8081:8081"
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=my_app_db

  transactions:
    build: ./transactions
    container_name: transactions_service
    env_file: ./transactions/.env
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=my_app_db

volumes:
  pgdata:
    # чтобы данные не пропадали при падении/выключении/перезагрузке контейнера

    # docker compose up (in the terminal)
